/lib/mysql.class.php~
/config.php~
/COPYING~
/index.php~
/lib/dns.class.php~
/lib/func.class.php~
/lib/pgsql.class.php~
/page/chpw.php~
/page/help.php~
/page/login.php~
/page/logout.php~
/page/main.php~
/page/tools.php~
/page/users.php~
/page/zone.php~
